/* :root {
  --main-text-cl: #757575;
  --title-cl: #212121;
  --accent-cl: #2196f3;
  --logo-black-cl: #000000;

  --main-bg-cl: #ffffff;
  --alt-bg-cl: #f5f4fa;
  --dark-bg-text-cl: #ffffff;
  --hero-footer-bg-cl: #2f303a;
  --social-icons-cl: #afb1b8;

  --main-font: 'Roboto', sans-serif;
  --alt-font: 'Raleway', sans-serif;

  --works-card-gap: 30px;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
}

img {
  display: block;
  max-width: 100%;
} */

/* Utility classes */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.link {
  color: inherit;
  text-decoration: none;

  transition: color 250ms var(--timing-function);
}

.link:hover,
.link:focus {
  color: var(--accent-cl);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.address {
  font-style: inherit;
}

.title {
  color: var(--title-cl);
} */

/* Logo */

/* .logo {
  margin-right: 93px;
  font-family: var(--alt-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-black-cl);
}

.logo__accent {
  color: var(--accent-cl);
}

.logo:hover,
.logo:focus {
  color: var(--logo-black-cl);
}

.logo-footer,
.logo-footer:hover,
.logo-footer:focus {
  color: var(--dark-bg-text-cl);
} */

/* Titles */

/* .hero__title {
  display: block;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-bg-text-cl);
} */

/* .section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
} */

/* Header and navigation */

/* .page-header {
  border-bottom: 1px solid #ececec;
} */

/* .page-header .section__container {
  display: flex;
  align-items: center;
} */

/* .site-nav {
  display: inline-flex;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-cl);
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
} */

/* .site-nav .link.current {
  color: var(--accent-cl);
}

.site-nav .link {
  display: block;
  padding: 32px 0;
  position: relative;
} */

/* .site-nav .link.current::after {
  position: absolute;
  bottom: 0;
  left: 0;

  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-cl);
  transform: translateY(1px);
} */

/* .site-nav-contacts {
  margin-left: auto;
  display: flex;
  color: currentColor;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.1;
}

.site-nav-contacts__item + .site-nav-contacts__item {
  margin-left: 50px;
}

.site-nav-contacts__link {
  display: flex;
  align-items: center;
}

.site-nav-contacts__email-icon {
  margin-right: 10px;
  fill: currentColor;
}

.site-nav-contacts__smartphone-icon {
  margin-right: 10px;
  fill: currentColor;
} */

/* Hero section */
/* 
.hero {
  text-align: center;
}

.hero__overlay {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  background: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero.jpg');
} */

/* Buttons */

/* .btn {
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--dark-bg-text-cl);
  background: var(--accent-cl);

  border: transparent;
  border-radius: 4px;
  cursor: pointer;

  transition: box-shadow 250ms var(--timing-function);
}

.btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */

/* Advantages section */

/* .advantages-title {
  font-size: inherit;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}

.advantages-list {
  display: flex;
}

.advantages-list__item {
  flex-basis: calc(100% / 4 - 30px);
}

.advantages-list__item:not(:last-child) {
  margin-right: 30px;
}

.advantages-list__title {
  margin-bottom: 10px;
}

.advantages-list__icon-wrap {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  padding: 25px 100px;
  background-color: var(--alt-bg-cl);
} */

/* What we do section */

/* .what-we-do-section {
  padding-bottom: 94px;
}

.what-we-do {
  display: flex;
}

.what-we-do__item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do__img-wrap {
  position: relative;
}

.what-we-do__img-overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 27px 82px;
  background: rgba(47, 48, 58, 0.8);
}

.what-we-do__img-text {
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--dark-bg-text-cl);
} */

/* Our Team */
/* 
.team-section {
  background-color: var(--alt-bg-cl);
}

.team-list {
  display: flex;
}

.team-list__item {
  padding-bottom: 30px;
  flex-basis: calc(100% / 4 - 30px);
  text-align: center;
  background: var(--main-bg-cl);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team-list__meta {
  padding: 30px 55px 16px 55px;
}

.team-list__names {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team-list__position {
  font-size: 16px;
  line-height: 1.2;
} */

/* Social Icons

.social-icons {
  display: inline-flex;
}

.social-icons__svg {
  fill: var(--social-icons-cl);

  transition: fill 250ms var(--timing-function);
}

.social-icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-bg-cl);

  transition: background-color 250ms var(--timing-function);
}

.social-icons__link:hover,
.social-icons__link:focus {
  background-color: var(--accent-cl);
}

.social-icons__link:hover .social-icons__svg,
.social-icons__link:focus .social-icons__svg {
  fill: var(--dark-bg-text-cl);
}

.social-icons__item:not(:last-child) {
  margin-right: 10px;
} */

/* Our clients */
/* 
.clients-list {
  display: flex;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__item-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-icons-cl);
  border-radius: 4px;

  transition: border-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.clients-list__svg {
  fill: var(--social-icons-cl);

  transition: fill 250ms var(--timing-function);
}

.clients-list__link:hover .clients-list__svg {
  fill: var(--accent-cl);
}

.clients-list__link:hover .clients-list__item-wrap {
  border-color: var(--accent-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

/* Portfolio Page */

/* Works filter */

/* .works-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.works-filter__item:not(:last-child) {
  margin-right: 8px;
} */

/* .works {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--works-card-gap));
  margin-top: calc(-1 * var(--works-card-gap));
}

.works__item {
  flex-basis: calc(100% / 3 - var(--works-card-gap));
  margin-left: var(--works-card-gap);
  margin-top: var(--works-card-gap);
  background: var(--main-bg-cl);
}

.works_item-meta {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
} */

/* .works__filter-btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--title-cl);
  background-color: var(--alt-bg-cl);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.works__filter-btn:hover,
.works__filter-btn:focus {
  background-color: var(--accent-cl);
  color: var(--dark-bg-text-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */

/* Works description */

/* .works__desc {
  font-size: 16px;
  line-height: 1.9;
}

.works__img-thumb {
  position: relative;
  overflow: hidden;
}

.works__img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.works__item-link:hover .works__img-overlay {
  transform: translateY(0);
}

.works__img-text {
  position: absolute;
  top: 0;
  left: 0;

  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.6;
  color: var(--dark-bg-text-cl);

  /* opacity: 0; */
}

/* .works__item-link:hover .works__img-text {
  opacity: 1;
}

.works__item-wrap {
  transition: box-shadow 250ms var(--timing-function);
}


.works__item-link:hover,
.works__item-link:focus {
  color: var(--main-text-cl);
}

.works__item-link:hover .works__item-wrap,
.works__item-link:focus .works__item-wrap {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}  */

/* Works */

/* .works__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
} */

/* Visually hidden */

/* .visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
} */

/* Footer */

/* .footer__container {
  display: flex;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-footer-bg-cl);
}

.footer__address-text {
  margin-bottom: 9px;
  color: var(--dark-bg-text-cl);
}

.footer__address {
  margin-right: 70px;
  font-style: normal;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts__item {
  margin-top: 9px;
} */

/* Footer Join us socials  */

/* .footer-join-us {
  padding-top: 12px;
}

.footer-join-us__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--dark-bg-text-cl);
} */

/* Footer Social Icons */

/* .social-icons-svg__footer-bg {
  fill: var(--dark-bg-text-cl);
}

.social-icons-link__footer-bg {
  background-color: rgba(255, 255, 255, 0.1);
} */

/* Footer Subscribe Form*/

/* .subscribe {
  margin-left: 93px;
  padding-top: 12px;
}

.subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--dark-bg-text-cl);
}

.subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe__form-input {
  margin-right: 12px;

  width: 360px;
  height: 50px;
  padding: 15px;

  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
}

.subscribe__form-input::placeholder {
  font-size: 16px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__form-input:focus {
  outline: none;
  color: rgba(255, 255, 255, 0.6);
} */

/* .btn-sub {
  position: relative;
  padding: 10px 62px 20px 29px;
}

.btn-sub__icon {
  position: absolute;
  top: 13px;
  left: 148px;
} */

/* Order service modal */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; 

  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
} */

/* Modal form */

/* .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  background-color: var(--main-bg-cl);
} */

/* .modal-form {
  width: 528px;
  padding: 40px;
}

.modal-form__heading {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--title-cl);
}

.modal-form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
} */

/* .modal-form__field-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transition: fill 250ms var(--timing-function);
}

.modal-form__input {
  padding: 11px 12px 11px 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms var(--timing-function);
}

.modal-form__input:focus + .modal-form__field-icon {
  fill: var(--accent-cl);
} */

/* .textarea-comment {
  padding: 12px 16px;
  resize: none;
}

.textarea-comment::placeholder {
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input:focus,
.textarea-comment:focus {
  border: 1px solid var(--accent-cl);
} */

/* .modal-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--main-text-cl);
}

.modal-form__policy-link {
  color: var(--accent-cl);
  text-decoration: underline;
} */

/* .modal-form__comment {
  margin-bottom: 20px;
}

.modal-form__policy {
  margin-bottom: 30px;
}

.modal-form__policy-label {
  display: flex;
  align-items: center;
  line-height: 1.8;
} */

/* .modal-form__policy-checkbox {
  margin-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
} */
/* 
.modal-form__policy-checkbox-icon {
  content: '';
  display: inline-block;
  margin-right: 5px;
  width: 15px;
  height: 15px;

  border: 2px solid var(--title-cl);
  border-radius: 4px;
} */

/* .modal-form__policy-checkbox:checked + .modal-form__policy-checkbox-icon {
  background-image: url(../images/icons/policy-checked-2.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.btn--modal-submit {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
} */

/* .modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--main-bg-cl);
  cursor: pointer;
} */
/* 
.modal__close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: fill 250ms var(--timing-function);
}

.modal__close-btn:hover .modal__close-icon {
  fill: var(--accent-cl);
} */
