/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $hero-footer-bg-cl;

  .footer__container {
    display: flex;
    flex-direction: column;
    // align-items: center;

    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
  }
}

.footer__address {
  font-style: normal;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    margin-right: 70px;
    font-style: normal;
    margin-bottom: 0;
    text-align: left;
  }

  @media (min-width: 320px) and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__address-text {
    margin-bottom: 9px;
    color: $dark-bg-text-cl;
  }
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  // font-style: normal;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);

  .footer-contacts__item {
    margin-top: 9px;
  }
}

.footer-address-join-us {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}
