.site-navigation {
  display: flex;

  @media (min-width: $desktop) {
    align-items: center;
  }
}

.site-nav {
  display: inline-flex;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: $title-cl;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    // margin-left: 237px;
  }

  @media screen and (min-width: 1200px) {
    display: inline-flex;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: $title-cl;
  }

  .link {
    display: block;
    padding: 32px 0;
    position: relative;
  }

  .link.current {
    color: $accent-cl;
  }

  .link.current::after {
    /* display: block; */
    position: absolute;
    bottom: 0;
    left: 0;

    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-cl;
    transform: translateY(1px);
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }
}

.section__container {
  // display: flex;
  // position: relative;
}

.mob-nav {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.section__container .mob-nav__btn {
  // position: absolute;
  // top: 10px;
  // right: 15px;
  // margin-left: auto;
}

.mobile-menu-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #fff;
  padding: 48px 40px;
  height: 100vh;
  z-index: 98;

  @media screen and (min-width: 768px) {
    display: none;
  }

  // @media (max-width: 480px) {
  //   max-height: 100%;
  // }

  &.is-open {
    // display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.mobile-menu-navigation {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.9;
  letter-spacing: 0.02em;
  color: $title-cl;
  // margin-bottom: 302px;
}

.mobile-menu-contacts {
  // margin-bottom: 60px;

  &__phone {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $accent-cl;

    @media (min-width: 320px) and (max-width: 478.99px) {
      font-size: 24px;
    }
  }

  &__email {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $main-text-cl;
  }
}

.mobile-menu-socials {
  display: flex;

  @media (min-width: 320px) and (max-width: 478.99px) {
    flex-wrap: wrap;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__item {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $accent-cl;
  }
}
