.site-nav-contacts {
  margin-left: auto;
  display: flex;
  color: currentColor;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.1;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    font-size: 14px;
    line-height: 1.2;
    flex-direction: row;
    // align-items: baseline;
    .site-nav-contacts__item + .site-nav-contacts__item {
      margin-left: 50px;
    }
  }

  .site-nav-contacts__item {
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
      margin-bottom: 10px;
    }
  }

  .site-nav-contacts__link {
    display: flex;
    align-items: center;
  }

  .site-nav-contacts__email-icon {
    margin-right: 10px;
    fill: currentColor;
  }

  .site-nav-contacts__smartphone-icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
