.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $mobile) {
    max-width: $mobile;
    margin: 0 auto;
  }

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
  }
}

.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.link {
  color: inherit;
  text-decoration: none;
  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-cl;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.address {
  font-style: inherit;
}

.title {
  color: $title-cl;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.mobile-nav-current {
  color: $accent-cl;
}
