// Color Palette
$main-text-cl: #757575;
$title-cl: #212121;
$accent-cl: #2196f3;
$logo-black-cl: #000000;

$main-bg-cl: #ffffff;
$alt-bg-cl: #f5f4fa;
$dark-bg-text-cl: #ffffff;
$hero-footer-bg-cl: #2f303a;
$social-icons-cl: #afb1b8;

// Fonts
$main-font: 'Roboto', sans-serif;
$alt-font: 'Raleway', sans-serif;

// Geometry and Transitions
$works-card-gap: 30px;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
