.logo {
  // margin-right: 163px;
  font-family: $alt-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: $logo-black-cl;
  margin-top: 11px;
  display: inline-block;

  &:hover,
  &:focus {
    color: $logo-black-cl;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 93px;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 88px;
    margin-top: 26px;
  }
}

.logo__accent {
  color: $accent-cl;
}

.logo-footer {
  color: $dark-bg-text-cl;
  &:hover,
  &:focus {
    color: $dark-bg-text-cl;
  }
}
